.incident {
  border: 1px solid #202529;
  height: 100px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  box-shadow: 3px 3px 10px lightgray;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

.incident:hover {
  border: 2px solid #202529;
  box-shadow: 8px 8px 25px lightgray;
}
